
@model HomeIntro
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>HomeIntro Detail</h1>
            </div>
        </div>

        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                <div class="card" style="width: 35rem;margin: 0 auto;">
                   
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Intro : @Model.Intro</li>
                        <li class="list-group-item">Title : @Model.Title</li>
                        <li class="list-group-item">Intro : @Model.Description</li>
           

                    </ul>
                    <div class="card-body">
                        <a asp-action="Update" asp-controller="HomeIntro" asp-area="manage" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>
                        @if (Model.IsDeleted)
                        {
            <a asp-action="Restore" asp-controller="setting" asp-area="manage" asp-route-id="@Model.Id" class="btn btn-primary">Restore</a> }
        else
        {
<a asp-action="Delete" asp-controller="setting" asp-area="manage" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-lg-4">
            <a asp-action="index" asp-controller="homeintro" asp-area="manage" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</div>


