

@model Table


<div class="content-wrapper">
    <div class="container-fluid">
        <ul>
            <li style="padding: 5px 25px; border: 1px solid grey; border-radius: 10px; width: 27%;">
                <div class="comment-body">
                    <span>Who book a table :</span><br /><h5 class="comment-author"> @Model.Name</h5> <br />
                    <span>Writed email :</span><br /><h5 class="comment-author"> @Model.Email</h5> <br />
                    <span>User email :</span><br /><h5 class="comment-author"> @Model.MainEmail</h5> <br />
                    <span>Phone :</span><br /><h5 class="comment-author"> @Model.Phone</h5> <br />
                    <div class="comment-post-date">
                        <span>Posted at :</span> <br /><h5 class="comment-author">@Model.CreatedAt</h5> <br />
                    </div>
                    <p>
                        <span>Reservation Time :</span><br /> <h5 class="comment-author">@Model.Date</h5>
                    </p>
                    <p>
                        <span>Person count :</span><br /> <h5 class="comment-author">@Model.Person</h5>
                    </p>
                
                </div>
            </li>
        </ul>
        <a asp-action="index" asp-controller="contact" asp-area="manage" class="btn">Go to Messages list</a>
    </div>
</div>

