
@model IEnumerable<Contact>
@{

    int count = (ViewBag.PageIndex - 1) * 5;
}

<div class="content-wrapper">
    <div class="container-fluid">
        @*<ul style="flex-wrap: wrap;justify-content: flex-start;">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (Contact contact in Model)
                {
                    count++;
                    <li style="padding: 12px 10px; border: 1px solid grey; width:19%; border-radius: 10px;">
                        <div class="comment-body">
                            @count.
                            <span>Who post comment :</span><br /><h5 class="comment-author"> @contact.Name</h5> <br />
                            <div class="comment-post-date">
                                <span>Posted at :</span> <br /><h5 class="comment-author">@contact.CreatedAt</h5> <br />
                            </div>
                        </div>
                        <div class="comment-body text-end" style="flex-basis: 0;display:inline-block;">
                            <span class="reply-btn"><a asp-action="detail" asp-controller="contact" asp-area="manage" asp-route-id="@contact.Id" class="btn btn-primary">Detail</a></span>
                        </div>
                    </li>
                }
            }
        </ul>*@
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">CreatedAt</th>
                            <th scope="col">UpdatedAt</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (Contact contact in Model)
                            {



                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@contact.Name</td>
                                    <td>@contact.CreatedAt</td>
                                    <td>@contact.UpdatedAt</td>


                                    <td>
                                        <a asp-action="Detail" asp-controller="Contact" asp-area="manage" asp-route-id="@contact.Id" class="col-lg-12 btn btn-primary">Detail</a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12 d-flex justify-content-center">
            <nav>
                <ul class="pagination">

                    @if (ViewBag.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="1" aria-label="Previous">
                                @("<<")
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)" aria-label="Previous">
                                @("<")
                            </a>
                        </li>
                        @if (ViewBag.PageIndex == ViewBag.PageCount && ViewBag.PageIndex > 2)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-2)">@(ViewBag.PageIndex-2)</a></li>
                        }
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)">@(ViewBag.PageIndex-1)</a></li>
                    }

                    <li class="page-item active"><a class="page-link" asp-action="index" asp-route-page="@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

                    @if (ViewBag.PageIndex < ViewBag.PageCount)
                    {
                        <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex + 1)">@(ViewBag.PageIndex + 1)</a></li>

                        @if (ViewBag.PageIndex == 1 && (ViewBag.PageIndex + 2) < ViewBag.PageCount)
                        {
                            <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex+2)">@(ViewBag.PageIndex+2)</a></li>
                        }
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(ViewBag.PageIndex + 1)" aria-label="Next">
                                @(">")
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@ViewBag.PageCount" aria-label="Next">
                                @(">>")
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
</div>
</div>