@model MemberProfileVM
@{
    ViewData["Title"] = "Profile";
    int orderCount = 0;
    int orderItemCount = 0;
    double totalOrderItem = 0;
    foreach (var item in Model.Orders)
    {
        foreach (var item1 in item.OrderItems)
        {
            totalOrderItem = item1.TotalPrice;
        }
    }
}

<!-- main wrapper start -->
<section class="about">
    <div class="about-text">
        <h1>Account</h1>
        <a href="">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <span>Account</span>
    </div>
</section>
<!-- breadcrumb area start -->
<!-- breadcrumb area end -->
<!-- my account wrapper start -->
<section class="myacc">
    <div class="my-account-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="myaccount-tab-menu nav" role="tablist">

                                    <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>


                                    <a href="#account-info" data-toggle="tab" aria-selected="@((TempData["ProfileTab"] != null && TempData["ProfileTab"].ToString()=="Account"?"true":"false"))" class="@((TempData["ProfileTab"] != null && TempData["ProfileTab"].ToString()=="Account"?"active":""))"><i class="fa fa-user"></i>  Account Details</a>
                                    <a asp-controller="Account" asp-action="LogOut"><i class="fa fa-sign-out"></i> Logout</a>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade" id="orders" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Orders</h3>
                                            <div class="myaccount-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>OrderBy</th>
                                                            <th>Count</th>
                                                            <th>Total</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Orders)
                                                        {
                                                            orderCount++;
                                                            orderItemCount = 0;
                                                            <tr data-toggle="collapse" data-target="#demo@(orderCount)" class="accordion-toggle">
                                                                <td>@orderCount</td>
                                                                <td>@item.AppUser.FullName</td>
                                                                <td>@item.OrderItems.Count()</td>
                                                                <td>@item.OrderItems.Sum(o => o.TotalPrice)</td>
                                                                <td>@item.CreatedAt?.ToString("MMMM dd, yyyy")</td>
                                                                <td>@item.Status</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12" class="hiddenRow">
                                                                    <div class="accordian-body collapse" id="demo@(orderCount)">
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr class="info">
                                                                                    <th>#</th>
                                                                                    <th>Product Name</th>
                                                                                    <th>Count</th>
                                                                                    <th>Total Price</th>
                                                                                    <th>Price</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var orderItem in item.OrderItems)
                                                                                {
                                                                                    orderItemCount++;
                                                                                    <tr data-toggle="collapse" class="accordion-toggle">
                                                                                        <td>@orderItemCount</td>
                                                                                        <td>@orderItem.Product.Name</td>
                                                                                        <td>@orderItem.Count</td>
                                                                                        <td>@orderItem.Price</td>
                                                                                        <td>@orderItem.TotalPrice</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade @((TempData["ProfileTab"]!=null && TempData["ProfileTab"].ToString()=="Account"?"active show":""))" id="account-info" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Account Details</h3>
                                            @await Html.PartialAsync("_ProfileFormPartial", Model.Member)
                                        </div>
                                    </div> <!-- Single Tab Content End -->
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my account wrapper end -->
<!-- main wrapper end -->



